:root {
  --navbar-height: 56px; /* Adjust this value to match the height of your navbar */
}

@media (max-width: 991.98px) {
  /* Adjust this value for smaller screens where the navbar collapses */
  :root {
    --navbar-height: 68px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--navbar-height) 0 0;
  margin: 0;
}

.container-fluid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-vh {
  height: calc(100vh - var(--navbar-height));
  padding-top: var(--navbar-height);
  padding-bottom: var(--navbar-height); 
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .big-font {
    font-size: 60px;
  }
  .small-font {
    font-size: 30px;
  }
  .table-font {
    font-size: 20px;
  }
  .footer {
    font-size: 10px;
  }
  .photoDiv {
    max-width: 40%;
    margin: 1vw;
  }
  .anchor-text {
    color: white;
    text-decoration: none;
    font-size: xx-large;
  }
  .map {
    width: 100%;
    height: 35vw;
  }

  /* body {
  background-image: url(photos/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  } */
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .big-font {
    font-size: 40px;
  }
  .small-font {
    font-size: 20px;
  }
  .table-font {
    font-size: 12px;
  }
  .footer {
    font-size: 6px;
  }
  .photoDiv {
    max-width: 80%;
    margin: 2vw;
  }
  .custom-vh img {
    width: 100%;
  }
  .anchor-text {
    color: white;
    text-decoration: none;
    font-size: medium;
  }
  .map {
    width: 100%;
    height: 75vw;
  }
  /* body {
    background-image: url(photos/background-mobile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    } */
}

.main-font {
  color: #36adfc;
  text-align: center;
  font-family: "Audiowide", cursive;
}

.secondary-font {
  color: #ffffff;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.img-scale-to-div
{
  max-width: 100%;
  max-height: 100%;
}

.section-offset {
  padding-top: var(--navbar-height); /* Adjust the value to match the height of your navbar */
  margin-top: var(--navbar-height); /* Negative value to counteract the padding */
}

.button-start {
  width: 25%;
  background-color: #36adfc;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(photos/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.content {
  /* Add necessary styles for your content */
  position: relative;
  z-index: 1; /* Ensure the content appears above the background */
}
